@charset "utf-8";
/* CSS Document */


*{
	font-family: 'Noto Sans', sans-serif;
	box-sizing:border-box;
	color:white;
	}
body{
	margin:0 auto;
	border:0;
	width:100%;
	overflow-x:hidden;
}
a {
	text-decoration:none;}
.clear{
	clear:both;}
.hover-a:hover{
	opacity:0.8;
	cursor:pointer;
	transition:.15s ease-in-out;
}
.white-text{
	color:white;}
.blue-text{
	color:#2b2b88;
		}
.blue-bg{
	background-color:#2b2b88;
}
.white-bg{
	background-color:white;}
.light-grey {
    color: #888888;}
.width100{
	width:100%;}
.overflow{
	overflow:hidden;}
.float-left{
	float:left;}
.float-right{
	float:right;}		
.text-center{
	text-align:center;}	
.div-center{
	margin-left:auto;
	margin-right:auto;}
.margin-auto{
	margin-left:auto;
	margin-right:auto;}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
   -webkit-box-shadow: 0 0 0 30px #0d2642 inset !important;
   -webkit-text-fill-color:white !important;
   border-radius: 3px !important;
}


input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, textarea:-webkit-autofill, textarea:-webkit-autofill:hover, textarea:-webkit-autofill:focus, select:-webkit-autofill, select:-webkit-autofill:hover, select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px #0d2642 inset !important;
    transition: background-color 5000s ease-in-out 0s;
    font-size: 18px !important;
	-webkit-text-fill-color:white !important;
	border-radius: 3px !important;
}
.clean:focus{	
	outline: none !important;
	outline-offset: 0  !important;
}
.clean:selected{
	outline: none !important;
	outline-offset: 0  !important;
}
.clean:active{
	outline: none !important;
	outline-offset: 0  !important;
}
.clean::selection {	
	outline: none !important;
	outline-offset: 0  !important;
}
.clean2{
	-webkit-box-shadow:none !important;
	box-shadow:none !important;		
}
.clean2:selected{
	outline: none !important;
	outline-offset: 0  !important;
	-webkit-box-shadow:none !important;
	box-shadow:none !important;	
}
.clean2:focus{
	outline: none !important;
	outline-offset: 0  !important;
	-webkit-box-shadow:none !important;
	box-shadow:none !important;	
}
.clean2:active{
	outline: none !important;
	outline-offset: 0  !important;	
	-webkit-box-shadow:none !important;
	box-shadow:none !important;
}
.clean2::selection {	
	outline: none !important;
	outline-offset: 0  !important;
	-webkit-box-shadow:none !important;
	box-shadow:none !important;
}
.inline-block{
	display:inline-block;}
.pointer:hover{
	cursor:pointer;}

.text-overflow{
    text-overflow: ellipsis;
    white-space: nowrap;
	overflow:hidden;
}
.height100{
	height:100%;}
.logo-img {
    height: 30px;
}
.header1 {
    background-color: #081421;
    padding: 10px 2.5%;
	padding-bottom: 5px;
	z-index: 99999;
}	

.transparent-button{
	background-color:transparent;
	border:0;}
/*Start */
.same-padding{
	padding-left:2.5%;
	padding-right:2.5%;}
.dropdown-img {
    width: 10px;
}
.hover1b{
	display:none;}
.hover1:hover .hover1b{
	display:inline-block;
	cursor:pointer;
	transition:.15s ease-in-out;}
.hover1:hover .hover1a{
	display:none;
	cursor:pointer;
	transition:.15s ease-in-out;}
table{
	border-collapse:collapse;}

/*Dropdown*/
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  border-radius: 5px;
  right: 0;
  position: absolute;
  background-color: white;
  min-width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 8px 16px;
  z-index: 1;
  color:black;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-a{
	color:black;
	margin-left:5px;}
.dropdown-img{
	margin-right:10px;}
/*End of Dropdown*/
.dropdown-img2{
	vertical-align: bottom;
	margin-right:10px;
	margin-left:0;
}
.dropdown-p:hover{
	color:#7ecbc8;
	transition:.15s ease-in-out;
	cursor:pointer;}
.dropdown-a:hover{
	color:white;
	transition:.15s ease-in-out;
	cursor:pointer;}
.dl-menuwrapper{
	display:none;}
		
/* The Modal (background) */
.modal-css {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 999999; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

/* Modal Content */
.modal-content-css {
  background-color: #15212d;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  border-radius: 10px;
}

/* The Close Button */
.close-css {
  color: #aaaaaa;
  float: right;
  font-size: 42px;
  font-weight: bold;
  margin-top: -10px;
}

.close-css:hover,
.close-css:focus {
  color: #FFFFFF;
  text-decoration: none;
  cursor: pointer;
}
.login-modal-content {
    width: 40%;
    border: 0;
    margin-top: 100px;
    padding: 50px;
}
.menu-item{
	color:white;}
.menu-item:hover{
	color:#4092ef;
	cursor:pointer;
	transition:.15s ease-in-out;}
.black-menu-item{
	color:black;}
.black-menu-item:hover{
	color:#4092ef;
	cursor:pointer;
	transition:.15s ease-in-out;	
}
.dropdown-img {
    margin-right: 0;
}
.menu-padding {
    margin-left: 25px;
}
.right-menu-div {
    margin-top: 5px;
}
.same-padding{
	padding-left:7.5%;
	padding-right:7.5%;}
.menu-distance {
    padding-top: 50px;
}
.darkbg {
    background-color: #081421;
	overflow: hidden;
	padding-bottom: 50px;
}
.footer-div {
    background-color: #081421;
	width:100%;
	overflow:hidden;
	text-align:center;
	padding: 3px 0;
}
.footer-div p{
	margin:0;
	font-size: 14px;
}
.min-height {
    min-height: calc(100vh - 22px);
	overflow: hidden;
}
.right-login-div {
    float: right;
    width: 50%;
    padding-top:80px;

}
.login-img{
	width:100%;}
.pop-input {
    width: 100%;
    margin-bottom: 20px;
	border: 0;
    background-color: #0d2642 !important;
}
.left-login-div {
    float: left;
    width: 50%;
	padding-right: 20%;
	padding-top:80px;
}
.pop-input {
    width: 100%;
    margin-bottom: 20px;
    border: 0;
    background-color: #0d2642 !important;
    font-size: 18px;
    padding: 5px;
    border-radius: 3px;
	color: white !important;
}
.pop-input::-webkit-input-placeholder { /* Edge */
  color: white;
}

.pop-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
}

.pop-input::placeholder {
  color: white;
}
.blue-button {
    border: 0;
    background-color: #003c80;
    font-size: 18px;
    padding: 5px 0;
    border-radius: 3px;
}
.blue-button:hover{
	cursor:pointer;
	background-color:#002b5d;
	transition:.15s ease-in-out;}
.blue-link{
	color:#0063d4;}
.blue-link:hover{
	color:#0056b9;
	cursor:pointer;
	transition:.15s ease-in-out;}
.signup-p {
    margin-top: 0;
    margin-bottom: 50px;
}
.white-link{
	color:white;}
.white-link:hover{
	color:#0063d4;
	cursor:pointer;
	transition:.15s ease-in-out;}
.dual-input {
    width: 48%;
    float: left;
}
.second-dual-input {
    margin-left: 4%;
}
.input-top-text {
    margin-bottom: 8px;
    font-size: 13px;
}
.one-button-width {
    width: 300px;
    padding: 5px;
    font-size: 18px;
    margin-top: 30px;
}
.middle-spacing {
    width: 100%;
    height: 50px;
}
.quantity-input {
    float: left;
    width: 50px;
    text-align: center;
    border: 0;
    font-size: 18px;
}
.multibank-logo {
    width: 500px;
}
.document-h2 {
    margin-top: 0;
}
.document-div {
    margin-bottom: 120px;
}
.margin-auto{
	margin-left:auto;
	margin-right:auto;}
.black-text{
	color:black;}
.black-text-all{
	color:black;}
.left-signature-div {
    float: left;
    width: 50%;
}
.signature-p {
    color: black;
	font-size:15px;
}
.signature-css {
    max-width: 200px;
}
.signature-date {
    border-bottom: 1px solid grey;
    width: 200px;
}
.right-signature-div {
    width: 50%;
    float: left;
}
.margin-bottom50{
	margin-bottom:50px;}
.document-div2 {
    margin-bottom: 50px;
}
.acc-p {
    min-height: 34px;
}
.signature-min-height {
    min-height: 150px;
}
.invite-btn {
    padding: 10px 20px;
    width: 200px;
}
.invitation-img {
    width: 500px;
}
.invitation-link-a {
    word-break: break-all;
}
.menu-left-margin{
	margin-left:20px;}
.invite-div{
	margin-top:50px;}
.left-invite-div {
    float: left;
    max-width: 50%;
}
.right-invite-div {
    float: right;
    width: 50%;
    padding-left: 50px;
}
.invited-img {
    width: 100%;
}
.extra-margin-top {
    margin-top: 20px;
}
.ow-purple-btn {
    background-color: #492ea5;
}
.ow-purple-btn:hover {
    background-color: #2c186f;
}
.dl-menuwrapper .dl-menu.dl-menuopen {
    height: 100vh;
    overflow: auto;
	margin-top: 0;
	padding-bottom: 50px;
}
.no-padding-left{
	padding-left:0 !important;}
.unclickable-li {
    color: #c3c3c3;
}
.table-css{
	width:100%;}
.table-css th{
	text-align:left;
	vertical-align:top;
	padding: 10px 5px;
	background-color: #092d54;	}
.table-css td{
	text-align:left;
	vertical-align:top;
	padding: 10px 5px;}
.table-css > tbody > tr:nth-child(odd){
   background-color: #111d29;
}
.table-css > tbody > tr:nth-child(even){
   background-color: #172738;
}
.overflow-scroll-div {
    width: 100%;
    overflow-x: auto;
	max-height: 85vh;
}
.margin-top50{
	margin-top:50px;}
.five-div-width{
	width:18%;
	float:left;}
.second-five-div{
	margin-left:2%;
	margin-right:2%;}
.five-icon {
    width: 40%;
}
.div-css {
    text-align: center;
    background-color: #0d2642;
    border-radius: 10px;
    padding: 20px 10px;
    padding-bottom: 0;
}
.five-div-p {
    font-size: 14px;
	margin-bottom: 0;
}
.five-div-amount {
    margin-top: 10px;
    font-weight: 600;
}
.profile-h3{
	font-weight:400;
	float:left;
	width:31%;
	color: #bdbdbd;}
.mid-profile-h3{
	margin-left:3.5%;
	margin-right:3.5%;
}
.profile-img-div{
	text-align:center;
	margin-top: 60px;
	clear:both;}
.doc-css {
    max-width: 75%;
	margin-top: 10px;
    margin-bottom: 50px;
}
.rolldate-container .rolldate-wrapper li {

    color: black !important;
}
.rolldate-container .rolldate-panel{
    top: 100px !important;
    position: absolute !important;
    width: 85% !important;
    margin-left: 7.5% !important;}
.profile-img {
    width: 700px;
}
.top-profile-div {
    width: 100%;
}
.bottom-input-text {
    font-size: 18px;
    margin-top: 0;
}
.dl-menuwrapper li a {
    padding: 9px 20px;
	font-size:14px;}
.dl-menuwrapper li {
    font-size: 14px;
}
.no-bg-input {
    width: calc(100% - 30px);
    float: left;
	margin-bottom: 0;
}
.eye-icon {
    width: 25px;
    float: left;
    margin-top: 7px;
}
.fake-input-bg {
    width: 100%;
    overflow: hidden;
    border-radius: 3px;
    background-color: #0d2642;
	margin-bottom: 20px;
}
.blue-ow-btn {
    background-color: #2f74bf;
    border: 0;
    color: white;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 2px;
}
.blue-ow-btn:hover{
	cursor:pointer;
	transition:.15s ease-in-out;
	background-color:#145cab;}
.overflow-scroll-div-with-max-height{
	max-height:85vh;}
.fix-th th{
	position:sticky;
	top: 0;
	z-index:1;
	background-color: #092d54;}
.first-column {
    left: 0;
    position: sticky;
    z-index: 2;
}
.first-th {
    left: 0;
    top: 0 !important;
    z-index: 3 !important;
    background-color: #092d54 !important;
}
.table-css > tbody > tr:nth-child(odd) > .first-column{
   background-color: #111d29;
}
.table-css > tbody > tr:nth-child(even) > .first-column{
   background-color: #172738;
}
.back-png {
    width: 25px;
}
.opacity-hover:hover{
	cursor:pointer;
	opacity:.85;
	transition:.15s ease-in-out;}
.search-png {
    width: 15px;
    float: left;
    margin-top: 7px;
    margin-right: 10px;
    margin-left: 10px;
}
.fake-input {
    width: calc(100% - 40px);
	margin-bottom:0;
	float:left;
}
.fake-input-div {
    background-color: #0d2642;
    border-radius: 5px;
	margin-bottom:20px;
}
.signature-div {
    height: 150px;
}
.signature-img {
    max-height: 150px;
}
.signature-logo {
    width: 200px;
}
.print-button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
.overflow-scroll-div-with-max-height180{
	max-height: calc(100vh - 180px);
}
.ow-black-text{
	color:#848484 !important;}
.ow-black-text b{
	color:black !important;}
@media all and (max-width: 1200px){	
.left-login-div {
    padding-right: 12%;}
}
@media all and (max-width: 1100px){
.profile-h3 {
    width: 50%;
    padding-right: 15px;
	margin-left:0;
	margin-right:0;
}
.profile-img {
    width: 50%;
}
.second-profile-h3 {
    margin-left: 20px;
    width: calc(50% - 20px);
}
}
@media all and (max-width: 1000px){
.upload-h1 {
    font-size: 24px;
}
}
@media all and (max-width: 900px){
.left-login-div {
    padding-right: 0;
}	
.right-login-div {
    padding-top: 120px;
    padding-left: 7%;
}	
}
@media all and (max-width: 820px){
.five-div-width {
    width: 31%;
	margin-bottom: 25px;
}
.second-five-div {
    margin-left: 3.5%;
    margin-right: 3.5%;
}
.second-five-div2{
	margin-left:0;}
}
@media all and (max-width: 800px){
.left-login-div {
    padding-right: 0;
    width: 80%;
    float: none;
    margin: 0 auto;
    padding-top: 30px;
}	
.right-login-div {
    padding-top: 10px;
    padding-left: 0;
}	
.multibank-logo {
    width: 350px;
}
.document-h2 {
    font-size: 18px;
}
.document-p {
    font-size: 13px;
}
.document-div {
    margin-bottom: 80px;
}
.signature-p {
    font-size: 13px;
}
.signature-css {
    max-width: 120px;
}	

.signature-min-height {
    min-height: 100px;
}
.admin-right-menu .menu-a {
    display: none;
}
.admin-right-menu .dl-menuwrapper {
    display: block;
}
.pop-h1 {
    font-size: 24px;
}

}
@media all and (max-width: 700px){
.invitation-img {
    width: 100%;
}
.invitation-link-a {
    font-size: 14px;
}
.profile-h3 {
    width: 100%;
    padding-right: 0;
    float: none;
    margin-left: 0;
    margin-right: 0;
    font-size: 14px;
}
.left-profile-div {
    float: left;
	width:50%;
}

.profile-img {
    width: 70%;}
.doc-h1 {
    font-size: 24px;
}
.back-png {
    width: 20px;
}
.search-big-div .profile-h3{
	width:48.5%;
	float:left;
	margin-bottom: 5px;}
.search-big-div .second-profile-h3{
	margin-left:3%;}
}
@media all and (max-width: 600px){
.darkbg {
    padding-bottom: 30px;
}
.upload-h1 {
    font-size: 21px;
}	
.signature-css {
    max-width: 100px;
}
.signature-date {
    width: calc(100% - 30px);
}
.signature-min-height {
    min-height: 75px;
}
}
@media all and (max-width: 550px){
.left-login-div {
    width: 100%;}	
.forgot-a {
    font-size: 14px;
}
.signup-p {
    margin-bottom: 30px;
}
.dual-input {
    width: 100%;
    float: none;
    margin-left: 0;
    clear: both;
}	
.one-button-width {
    width: 100%;}
.menu-a {
    font-size: 14px;
}
.menu-left-margin {
    margin-left: 15px;
}
}

@media all and (max-width: 500px){
.invite-btn {
	width:100%;}
.invite-h3 {
    text-align: center;
}
.left-invite-div {
    float: none;
    width: 100%;
    max-width: 100%;
    text-align: center;
}
.right-invite-div {
    float: none;
    width: 100%;
    padding-left: 0;
    margin-top: 20px;
}
.left-profile-div {
    float: none;
    width: 100%;
}
.profile-img-div {
    width: 100%;
    float: none;
    text-align: center;}
}
@media all and (max-width: 480px){
.five-div-width {
    width: 48%;
	margin-bottom: 10px;
}
.second-five-div {
    margin-left: 2%;
    margin-right: 0;
}
}
@media all and (max-width: 400px){
.multibank-logo {
    width: 230px;
}
.document-h2 {
    font-size: 16px;
}
.document-p {
    font-size: 12px;
}	
.left-signature-div, .right-signature-div {
    float: none;
    width: 100%;
}
.signature-date {
    width: 100%;
}
.acc-p {
    min-height: 0;
}
.signature-min-height {
    min-height: 0;
}
.right-signature-div {
    margin-top: 30px;
}
.invitation-link-a {
    font-size: 12px;
}
.five-div-p {
    font-size: 13px;}
.five-div-amount {
    margin-top: 5px;}
.rolldate-container .rolldate-wrapper li {
    font-size: 12px !important;
}
.search-big-div .profile-h3 {
    width: 100%;
    float: none;
    margin-bottom: 5px;
    margin-left: 0;
}
.overflow-scroll-div-with-max-height180 {
    max-height: calc(100vh - 250px);
}
}	
@media print {
.header, .doc-h1, .footer-div, .print-button{
	display:none;}	
.print-big-div {
    padding-top: 1cm;
	min-height:0;
}
.multibank-logo {
    width: 130px;
}	
.document-h2 {
    font-size: 14px;
}
.document-p, .signature-p {
    font-size: 11px;
}
.signature-date {
    width: 70% !important;
}
.ow-black-text{
	color:black !important;}
.signature-css {
    max-width: 100%;
    height: 7.5cm;
	margin-bottom: 15px;
}
.no-print{
	display:none;}
}